<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:cover {"overlayColor":"primary","minHeight":232,"minHeightUnit":"px","tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-cover" style="margin-top:0;margin-bottom:0;min-height:232px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">About Us</h1>
    <!-- /wp:heading --></div></main>
<!-- /wp:cover -->
<!-- wp:pattern {"slug":"quantumshop/about"} /-->
<!-- wp:pattern {"slug":"quantumshop/features"} /-->
<!-- wp:pattern {"slug":"quantumshop/team"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->