/*
Theme Name: Quantumshop
Theme URI: https://themegrove.com/products/quantumshop/
Author: Themegrove
Author URI: https://themegrove.com/
Description: QuantumShop, a WordPress theme dedicated to online shopping, offers a sleek and modern design that seamlessly integrates style and functionality. Its responsive layout ensures an optimal viewing experience across devices, while intuitive navigation and organized product displays enhance the user journey. With robust e-commerce features and compatibility with popular plugins, QuantumShop provides a customizable platform for showcasing products, optimizing conversions, and ensuring a secure checkout process. Elevate your online store's visual appeal and user experience with QuantumShop's extensive customization options, making it an ideal choice for businesses looking to thrive in the competitive world of online retail. Demo: https://demos.themegrove.com/quantumshop/ Support: https://themegrove.com/contact/
Requires at least: 6.4
Tested up to: 6.4
Requires PHP: 7.0
Version: 1.3
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: quantumshop
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, blog, portfolio, news
*/

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}


body {
	margin: 0;
}


main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}


pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}


img {
	border-style: none;
}


button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}


button,
input {
	overflow: visible;
}


button,
select {
	text-transform: none;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}


textarea {
	overflow: auto;
}


[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}


details {
	display: block;
}


summary {
	display: list-item;
}


template {
	display: none;
}


[hidden] {
	display: none;
}

footer.wp-block-template-part {
    margin: 0;
}
.orderby{
	padding: 15px;
}

div#sticky-header {
  z-index: 91 !important;
}
/* -------------- pagination start----------------*/

.page-numbers{
	background: var(--wp--preset--color--primary);
    margin: 0 5px 5px 0;
    padding: 6px 13px;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    color: var(--wp--preset--color--white);
}

.page-numbers:hover{
	color: var(--wp--preset--color--white) ;
}

.page-numbers.dots{
	background-color: transparent;
}

.wp-block-query-pagination{
	gap: 10px;
}

/* -------------- pagination End----------------*/

/* -------------- woocommerce-breadcrumb ----------------*/

.woocommerce .woocommerce-breadcrumb,.woocommerce .woocommerce-breadcrumb a {
	color: var(--wp--preset--color--link-color);
}
/* -------------- woocommerce-breadcrumb end----------------*/

/* -------------- header navigation ----------------*/
.wp-block-navigation-item__content {
    padding-bottom: 3px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }

  .wp-block-navigation-item__content::before {
    margin-top: 0px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background: var(--wp--preset--color--contrast-2); 
    transition: right 0.3s;
	text-decoration: none;
  }


  .wp-block-navigation-item__content:hover::before {
    right: 0;
  }
  .wp-block-navigation-submenu li a:hover::before{
    right: 50%;
  }
/* -------------- header navigation  ----------------*/


/* scrool to top */
.quantumshop-scrool-top::before{
    padding: 10px 13px;
    font-size: 17px;
    padding: 8px 13px;
    cursor: pointer;
    background: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--link-color);
    content: '\f062';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: fixed;
    bottom: 50px;
    right: 30px;
}
@media screen and (max-width: 600px) {
  .quantumshop-scrool-top::before{
    font-size: 26px;
    padding: 8px 13px;
    cursor: pointer;
    background: transparent;
    color: var(--wp--preset--color--primary);
	  content: '\f062';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: fixed;
    bottom: 8px;
    right: 15px;
}
}


/* scrool to top */

/* fontawesome before categories, tag and date start */

.wp-block-archives-list.wp-block-archives li::before ,
.wp-block-categories-list.wp-block-categories li::before, .taxonomy-category a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: '\f105'; 
    margin-right: 8px; 
}
.wp-block-archives-list.wp-block-archives li,
.wp-block-categories-list.wp-block-categories li{
	list-style-type: none;
}
.wp-block-archives-list.wp-block-archives,
.wp-block-categories-list.wp-block-categories, .taxonomy-category a{
	padding-left: 10px;
}

.wp-block-tag-cloud a.tag-cloud-link{
  font-size: 16px!important;
}

.tag-cloud-link::before, .taxonomy-post_tag a:before{
	font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: '\f02b'; 
  margin-right: 8px; 
}
.tag-cloud-link, .taxonomy-post_tag a{
	text-decoration: none;
	background: var(--wp--preset--color--primary);
    margin: 0 5px 5px 0;
    padding: 0 10px;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    color: var(--wp--preset--color--white);
	text-decoration: none;
}

.products-block-post-template li{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

p.quantumshop-scrool-top {
    position: absolute;
    z-index: 99;
}

.column-has-radius {
	border-radius: 8px;
}

.has-bg-image {
	background: #fff;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    padding: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
}

footer .has-arrow ul {
	padding: 0;
}

footer .has-arrow ul li:before {
    content: "\f345";
    font-family: 'dashicons';
    position: absolute;
    left: 0;
    top: 2px;
	font-size: 12px;
}

footer .has-arrow ul li {
	list-style: none;
	padding-left: 15px;
	position: relative;
}

a.wp-block-post-excerpt__more-link {
    background: var(--wp--preset--color--primary);
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 6px;
	position: relative;
}

.wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right.wc-block-grid__product-onsale {
    background: #cf0000;
    border: none;
    color: #fff;
    font-size: 12px;
}


@media (max-width: 720px) {
	.no-border-mobile,
	.no-border-mobile .wp-block-column {
		border: none !important;
	}
}

/* blog page style */
.post-block {
	transition: box-shadow 0.5s ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .post-block:hover {
	
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  @media (min-width: 720px) {
	.post-block {
		min-height: 540px;
	  }
}

.wp-block-post-author__name::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
	padding-right: 8px;
  }

  .wp-block-post-date time::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
	padding-right: 8px;
  }

  .wp-block-read-more-is-layout-flow::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
	padding-left: 8px;
  }
  .wp-block-read-more-is-layout-flow:hover::after {
	padding-left: 10px;
	transition: color 0.10s ease;
  }

  a.wp-block-post-author-name__link:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    padding-right: 8px;
}
  
/* blog page style */

.sidebar a{
	text-decoration: none;
}

.login-icon figure {
  display: flex;
  align-items: center;
}

.login-icon figcaption.wp-element-caption {
  margin: 0 0 0 6px;
}

.wish-list {
 text-align: center;
  color: #000;
  line-height: 1;
  display: block;
  position: relative;
}

figcaption {
color: #000 !important;
  font-weight: 500 !important;
}

header figcaption {
	color: #fff !important;
}

.has-border-left {
  border-left: 1px solid #efefef;
  padding-left: 15px;
}

.has-border-radius {
border-radius: 8px;
}

.products-block-post-template li {
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 5%) 0px 7px 15px 0px !important;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  border-radius: 6px;
}

.shop-by-category a {
  text-decoration: none;
}

form.wpcf7-form.init label,
form.wpcf7-form.init span {
  display: block;
  width: 100%;
}

form.wpcf7-form input:not([type="submit"]) {
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
padding: 15px;
}

textarea.wpcf7-form-control.wpcf7-textarea {
  max-height: 100px;
  background: #f4f4f4;
padding: 15px;
border: 1px solid #bfbfbf;
width: 100%;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
  background: var(--wp--preset--color--primary);
  border: navajowhite;
  color: #fff;
  padding: 15px 25px;
  width: 100px;
  border-radius: 6px;
z-index: 999;
}

.suscribe-form form > p {
  display: flex;
  width: 100%;
flex-wrap: wrap;
}

.suscribe-form span.wpcf7-spinner {
 
  flex: 0 0 100%;
}

.suscribe-form  span.wpcf7-form-control-wrap {
  max-width: calc(100% - 120px);
}

.slider-menu .wp-block-navigation__responsive-container {
  max-width: 550px;
  width: 100%;
  right: -700px;
  left: auto;
  display: block;
  background: #fff !important;
  height: 100Vh;
  top: 0;
  opacity: 1;
  padding: 35px;
transition: all .3s;
box-shadow: 0 0 10px #9993938c;
}

.slider-menu .wp-block-navigation{
width: 100%;
}

.slider-menu .wp-block-navigation__responsive-container ul.wp-block-navigation__container li {
 display: block;
  flex: 100%;
  width: 100%;
  border-bottom: none;
  padding-bottom: 18px;
}

.slider-menu .wp-block-navigation__responsive-container.is-menu-open {
right: 0;
z-index: 99;
}

li.wp-block-post.post.type-post > div{
  transition: all 0.3s !important;
}

li.wp-block-post.post.type-post > div:hover {
  box-shadow: 0 0 10px #949494c4;
  transform: translateY(-10px);
}

.wp-block-button a {
    min-width: 100px;
    text-align: center;
}

.wc-block-grid__product-rating .star-rating, .wc-block-grid__product-rating .wc-block-grid__product-rating__stars {   
    text-align: center;
    width: 8.3em;
    font-size: 11px;
    color: #ffa700;
}


li.product.type-product .wc-block-components-product-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.product.type-product .wc-block-components-product-price del {
    order: 2;
    margin-left: 5px;
    opacity: .7;
    color: #ed6262;
}

.banner-heading strong {
    color: var(--wp--preset--color--primary);
}

.has-bg-color {
    height: 80px;
    width: 80px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.has-bg-color.has-bg-1 {
    background: #ffc05e;
}

.has-bg-color.has-bg-2 {
    background: #93f997;
}

.has-bg-color.has-bg-3 {
    background: #f99393;
}

.has-bg-color.has-bg-4 {
    background: #f993cf;
}

.has-shadow {
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.has-shadow-2 {
box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.single-product .wp-block-group.woocommerce.product {
	margin-top: 0;
}

.wp-element-button.wc-block-components-product-button__button.add_to_cart_button {
    padding: 12px 30px !important;
}

.slider-menu.wp-block-navigation div {
  width: 100%;
}

.woocommerce-tabs.wc-tabs-wrapper h2 {
  margin-top: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

@media (max-width: 767px) {
  div#sticky-header {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
  }
  .hide-on-mobile {
      display: none;
  }

  .center-on-mobile {
  justify-content: center !important;
  }
  .mobile-50 {
      flex-basis: 50% !important;
  }
  .mobile-50 > div {
      gap: 6px !important;
  }
}

@media (max-width: 720px) {
  li.wp-block-post.post.type-post > div figure {
    margin: 0 !important;
    width: 100% !important;
  }
  li.wp-block-post.post.type-post > .wp-block-columns > div:first-child{
    order: 2;
  }
  li.wp-block-post.post.type-post > .wp-block-columns > div:last-child{
    order: 1;
  }
}

.wc-block-components-product-metadata .wc-block-components-product-metadata__description>p{
  display: none;
}

.wc-block-product-categories-list{
  list-style-type: none!important;
}
.wc-block-product-categories-list-item{
  margin-bottom: 8px;
}
.wc-block-product-categories-list-item::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: '\f105'; 
  margin-right: 5px; 
  font-size: small;
}
.wc-block-product-categories-list-item a{
  text-decoration: none;
}

.wc-block-attribute-filter-list li{
     color: var(--wp--preset--color--contrast);
}

ul.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.categories-list li a {
  text-decoration: none;  
  display: block;
  font-weight: 500;
  border-bottom: 1px solid #d5d5d5;   
  padding-left: 20px;
  position: relative;
  line-height: 40px;
padding: 3px 0 3px 30px;
}

ul.categories-list li:last-child a {
border-bottom: none;
padding-bottom: 0;
margin-bottom: 0;
}

ul.categories-list li a:before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px;
}
ul.categories-list li:nth-child(1) a:before {
content: '\f02b';
}
ul.categories-list li:nth-child(2) a:before {
content: '\f48b';
}
ul.categories-list li:nth-child(3) a:before {
content: '\f074';
}
ul.categories-list li:nth-child(7) a:before {
content: '\f085';
}
ul.categories-list li:nth-child(4) a:before {
content: '\f015';
}
ul.categories-list li:nth-child(5) a:before{
content: '\f0db';
}
ul.categories-list li:nth-child(6) a:before{
content: '\f4b8';
}
ul.categories-list li:nth-child(8) a:before{
content: '\f6c0';
}

.dark-title a{
	text-decoration:none!important;
}
